/* Body */

body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* Header */

.header {
    margin: 24px;
}

.header p {
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: #2196F3;
}

.header h2 {
    margin-top: 0px;
}

.close-wrapper {
    text-align: right;
    margin: 12px;
    z-index: 0;
}

.close-btn {
    cursor: pointer;
    border: none;
    background: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

.logo-wrapper {
    padding-bottom: 8px;
}

.logo {
    max-height: 100px;
}

.content-fade {
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    height: 32px;
    margin: 0px 16px -32px 16px;
    z-index: 10;
    overflow-y: scroll;
    pointer-events: none;
    flex-shrink: 0;
}


/* Content */

.treatments {
    overflow-y: scroll;
    padding: 24px;
    height: 100%;
}

.treatment {
    padding: 6px 0px 6px 12px;
}

.treatment-header {
    display: flex;
    justify-content: space-between;
}

.treatment-body {
    color: rgba(32, 32, 32, 0.7);
}

.block-wrapper {
    padding: 12px;
    margin: 24px 0px 16px 0px;
    border-radius: 4px;
    background-color: #f5f5f5;
    text-align: left;
}

.block-wrapper h4 {
    margin-top: 0px;
}

.block-wrapper ul {
    margin: 0px;
}

.purpose-container {
    text-align: center;
}

.purpose {
    width: 32px;
    height: 32px;
}


/* Footer */

.footer-body {
    margin: 12px 0px;
    max-height: 100px;
    overflow-y: scroll;
}

.accept-all-container {
    display: flex;
    justify-content: space-between;
}

.accept-all-text {
    font-weight: bold;
    margin: 12px 20px 12px 0px;
}

.submit {
    padding: 4px 8px;
    width: 200px;
    height: 32px;
    font-size: large;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #2196F3;
    color: white;
    box-shadow: gray 2px 2px 6px;
}