/* Body */

form {
    display: flex;
    flex-direction: row;
}

.left {
    width: 40%;
    overflow-y: auto;
}

.right {
    width: 60%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .left, .right {
        height: 100vh;
    }
}

@media screen and (min-width: 1000px) {
    form {
        border: 1px solid lightgrey;
        width: 1000px;
    }

    .left, .right {
        max-height: 90vh;
    }
}


/* Header */

.logo-wrapper {
    margin: 24px;
}


/* Content */

.treatments {
    padding-top: 0px;
}


/* Footer */

.footer {
    padding: 12px 0px;
    border-top: 1px solid lightgray;
    margin: 0px 24px;
}

.submit-container {
    text-align: right;
    margin: 18px;
}
