/* Body */

form {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header */

.logo-wrapper {
    text-align: center;
    margin: -24px 0 12px 0px;
}

.header {
    text-align: center;
    margin: 0 12px 18px 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 18px;
}

.header h3 {
    margin: 0px;
}


/* Footer */

.footer {
    background-color: #eeeeee;
}

.accept-all-container {
    padding: 0 12px;
}

.submit-container {
    text-align: center;
    margin: 8px 0px;
}
