/* Body */

form {
    display: flex;
    flex-direction: row;
}

.left {
    position: absolute;
    height: 100vh;
    width: 40%;
    overflow-y: auto;
}

.right {
    position: absolute;
    height: 100vh;
    width: 60%;
    background-color: #eeeeee;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
}


/* Header */

.logo-wrapper {
    margin: 24px;
}


/* Content */


/* Footer */

.footer {
    padding: 12px 0px;
    border-top: 1px solid lightgray;
    margin: 0px 24px;
}

.submit-container {
    text-align: right;
    margin: 18px;
}
