body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#consent {
    overflow-y: auto;
    background-color: lightgrey;
}

.header {
    background-color: grey;
}

.close-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer {
    background-color: darkgrey;
}