/* Body */

form {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header */

.header {
    background-color: grey;
    text-align: center;
}

.close-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* Footer */

.footer {
    background-color: darkgrey;
}
